#layer-toggle-btn-container {
  position: absolute;
  top: 30%;
  left: 0;
  height: auto;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .26);
  z-index: 3;

  button {
    margin: 6px 0px;
    min-width: 45px;

    md-icon {
      color: $primary-color;
    }

  }
}

md-backdrop.md-sidenav-backdrop {
  display: none
}

md-sidenav.map-panel {
  height: 390px;
  top: 45px;
  width: 250px;
  z-index: 2;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  md-toolbar {
    min-height: 45px;
    max-height: 45px;
  }

  md-content {
    padding-left: 40px !important;

    md-checkbox {
//      margin: 5px !important;
//      padding-left: 15px !important;
//      line-height: 23px !important;
        margin-right: 10px;
      min-width: 10px !important;
      min-height: 10px !important;
    }
  }
}

