{% raw %}
<!-- SEARCH PANEL SIDENAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 map-panel"
    md-component-id="searchPanel"
    id="search-panel">
  <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
          <h3>
              <md-icon style="margin-right: 10px;">search</md-icon>Search
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="indexCtl.closeSideNav('searchPanel')">
            <md-icon>close</md-icon>
          </md-button>
      </div>
  </md-toolbar>

  <md-content layout-padding style="padding:0px;" ng-controller="filterController as filterCtl">
    <div layout="column" layout-align="center center" style="height:inherit;padding: 0px;">
        <md-input-container style="margin: 0 10px;">
          <!--<label>Enter a location</label>-->
          <input id="filter-location-input">
        </md-input-container>
    </div>
  </md-content>

</md-sidenav>


<!-- LAYERS PANEL SIDENAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 map-panel"
    md-component-id="layerPanel"
    id="layer-panel">
  <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
          <h3>
              <md-icon style="margin-right: 10px;">layers</md-icon>Layers
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="indexCtl.closeSideNav('layerPanel')">
            <md-icon>close</md-icon>
          </md-button>
      </div>
  </md-toolbar>

  <md-content layout-padding ng-controller="layerController as layerCtl" style="padding:0px;">
    <md-list style="padding:0px;">
        <md-list-item ng-repeat="layer in layerCtl.layers" style="padding:0px;font-size:13px;">
          <md-checkbox ng-model="layer.selected" class="md-warn"></md-checkbox>{{ layer.label }}
        </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
{% endraw %}
