{% raw %}
<!-- SEARCH PANEL SIDENAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 map-panel"
    md-component-id="searchPanel">
  <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
          <h3>
              <md-icon>search</md-icon>
              Search Map
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="indexCtl.closeSideNav('searchPanel')"> <!---  ng-controller="LeftCtrl" -->
            <md-icon>close</md-icon>
          </md-button>
      </div>
  </md-toolbar>

  <md-content layout-padding ng-controller="mapLayerPanelController as layerPanelCtl" style="padding:0px;">
    <!--<md-list style="padding:0px;">
        <md-list-item ng-repeat="layer in layerPanelCtl.layers" style="padding:0px;font-size:13px;">
          <md-checkbox ng-model="layer.selected" class="md-warn"></md-checkbox>{{ layer.label }}
        </md-list-item>
    </md-list>-->
    <p>search here</p>
  </md-content>

</md-sidenav>


<!-- FILTER PANEL SIDENAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 map-panel"
    md-component-id="filterPanel">
  <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
          <h3>
              <md-icon>filter_list</md-icon>
              Filter
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="indexCtl.closeSideNav('filterPanel')"> <!---  ng-controller="LeftCtrl" -->
            <md-icon>close</md-icon>
          </md-button>
      </div>
  </md-toolbar>

  <md-content layout-padding ng-controller="mapLayerPanelController as layerPanelCtl" style="padding:0px;">
    <!--<md-list style="padding:0px;">
        <md-list-item ng-repeat="layer in layerPanelCtl.layers" style="padding:0px;font-size:13px;">
          <md-checkbox ng-model="layer.selected" class="md-warn"></md-checkbox>{{ layer.label }}
        </md-list-item>
    </md-list>-->
    <p>filter here</p>
  </md-content>

</md-sidenav>



<!-- LAYERS PANEL SIDENAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 map-panel"
    md-component-id="layerPanel"
    id="layer-panel">
  <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
          <h3>
              <md-icon>layers</md-icon>
              Layers
          </h3>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="indexCtl.closeSideNav('layerPanel')"> <!---  ng-controller="LeftCtrl" -->
            <md-icon>close</md-icon>
          </md-button>
      </div>
  </md-toolbar>

  <md-content layout-padding ng-controller="mapLayerPanelController as layerPanelCtl" style="padding:0px;">
    <md-list style="padding:0px;">
        <md-list-item ng-repeat="layer in layerPanelCtl.layers" style="padding:0px;font-size:13px;">
          <md-checkbox ng-model="layer.selected" class="md-warn"></md-checkbox>{{ layer.label }}
        </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
{% endraw %}
